.hero--main-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.hero--icon-upload {
    width: 150px;
}

.hero--form-container {
    display: flex;
    width: 700px;
    flex-direction: row;
    justify-content: center;
}

.hero--form {
    width: 80%;
}

.hero--modal-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.hero--footer-buttons {
    display: flex;
    position: fixed;
    right: 10px;
    bottom: 10px;
    justify-content: center;
}

.hero--button {
    margin: 10px;
    width: 70px;
    height: 70px;
    font-size: 20px;
}

.hero--tabs {
    width: 100%;
}

.hero--option-main {
    display: flex;
    align-items: center;
}

.hero--option-text {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

