.match--main-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow-x: hidden;
}

.match--icon-upload {
    width: 200px;
}

.match--form-container {
    width: 700px;
}

.match--footer-buttons {
    display: flex;
    position: fixed;
    right: 10px;
    bottom: 10px;
    justify-content: center;
}

.match--button {
    margin: 10px;
    width: 70px;
    height: 70px;
    font-size: 20px;
}

.match--add-button {
    margin-bottom: 10px;
}

.match--tabs {
    width: 100%;
}
